.main--container{
    /* position: absolute; */
    background-image: url('D:\GitHub\Sentiment-Analysis\client\src\assets\home-page.png');
	background-repeat: no-repeat;
	background-size: 100%;
	max-width: 100vw;
    display: flex;
}

.main{
    /* position: absolute; */
    /* padding-top: 30vh; */
    max-width: 600px;
    text-align: center;
    margin-top: 30vh;
    margin-left: 9vh;
    margin-right: 200px;
}
