.btn{
    border: none;
    border-radius: 7px;
    width: 150px;
    height: 30px;
    background-color: rgba(0, 204, 255, 0.685);
    color: white;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgb(0, 153, 255);
    transition-duration: 0.5s;
}
.btn:active{
    background-color: blue;
    transition-duration: 00.5s;
}